.header-index {
    background-color: #000000c2;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
    text-align: center;
  }
  
  .menu-list-index {
    padding: 10px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    column-gap: 8rem;
    flex-wrap: wrap;
    flex-direction: row;
    flex: row;
  
    li a {
      font-size: 12px;
    }
  }
  
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
  }
  
  .index-profile {
    font-family: "hanson", sans-serif;
    color: white;
    text-shadow: 0px -2px 8px rgba(0, 0, 0, 0.85);
  }
  
  .menu-item {
    margin: 0 auto 0;
    text-shadow: 0px -2px 8px rgba(0, 0, 0, 0.85);
  }
  
  .btn {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid;
    background: transparent;
    color: #fff;
    text-shadow: 0px -2px 8px rgba(0, 0, 0, 0.85);
  
    &:hover {
      transform: translatex(-5px);
      color: #15ff00;
    }
  }
  
  .banner {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -999;
    background-size: cover;
  }
  
  .content-index .icons-index a {
    font-size: 30px;
    padding: 2rem;
    margin-top: 0;
    color: white;
    text-shadow: 0px -2px 8px rgba(0, 0, 0, 0.85);
  }
  
  .icons-index {
    display: flex;
    justify-content: center;
  }
  
  .content-index .icons-index a:hover {
    transform: translatex(-5px);
    color: #15ff00;
  }
  