@media screen and (max-width: 700px) {
    .icons-index {
        display: grid;
    }
}

@media screen and (max-width: 950px) {
    .foto-perfil {
        max-width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .container-img {
        width: 95%;
        grid-template-rows: repeat(2, 2fr);
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .foto-perfil {
        max-width: 90%;
    }

    .container-img .caja-img {
        &:nth-child(1) {
            grid-column-start: span 2;
        }

        &:nth-child(2) {
            grid-column-start: span 1;
        }
    }
}

@media screen and (max-width: 500px) {
    .container-img {
        display: flex;

        .caja-img img {
            height: 200px;
        }
    }
}