
@import "./partials/variables";



@import "./partials/reset";

@import "./partials/header-index";

@import "./partials/header";


@import "./partials/quien-soy";

@import "./partials/contacto";

@import "./partials/portfolio";
@import "./partials/footer";

@import "./partials/tienda";

@import "./partials/responsive";

