.btn {
    color: rgb(245, 242, 242);
}

.product-cards {
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.872);
    padding: 2rem;
}

.card {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1rem;
    border: 1px solid rgba(9, 255, 0, 0.478);
}

.carousel-inner img {
    padding-top: 0vh;
}

.c-item {
    height: 1000px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.image-product {
    background-color: black;
    padding: 30px;
    margin-top: 0;
}